.mini-cart {
  position: absolute;
  width: 480px;
  top: 65px;
  right: 0px;
  background: #fff;
  z-index: 99;
  box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.2);
  border: 1px solid #f3f3f3;
  border-width: 1px 0 0 1px;
  transition: right 150ms ease-in-out;
  padding: 20px;
  text-align: left;
  font-size: 90%;
  overflow: auto;
  max-height: 590px;
}

.mini-cart-open .mini-cart {
  right: -1100px;
}

.boderBot{
  border-bottom: 1px solid rgba(34,36,38,0.15) !important;
}
.dark-overflow {
  background: rgba(0,0,0,.4);
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.ui.search .prompt{
  border-radius: 0px !important;
  padding: 0.5em;
}